{% load static %}
{% load bootstrap5 %}

<!doctype html>
<html lang="en" class="h-100">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{% static 'appdir/logo.png' %}"/>

        <!-- The page supports both dark and light color schemes,
            and the page author prefers / default is light. -->
        <meta name="color-scheme" content="light dark">

        <!-- Replace the Bootstrap CSS with the Bootstrap-Dark Variant CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.0.1/dist/css/bootstrap-dark.min.css" rel="stylesheet">

        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

        <title>Playground</title>

    </head>

    <body class="d-flex flex-column h-100">
        <!-- Begin page content -->
        <main class="flex-shrink-0">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        {% bootstrap_javascript %}
    </body>
</html>
